<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="shortcut icon" href="../../assets/ico/favicon.ico">-->

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css"  rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css"  rel="stylesheet">
        
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
	<div class="login-tab">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#register" data-toggle="tab">注册</a></li>
			<li><a href="#signin" data-toggle="tab">登陆</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane fade in active" id="register">
				<form class="form-signin" role="form" action="/register/" method="post">{% csrf_token %}
					<div class="form-group mbottom10 height45">
						<input name="name" type="text" class="form-control width120 float-left" placeholder="姓"  autocomplete='off'  required autofocus/>
                        <input name="username" type="text" class="form-control width120 float-right" placeholder="名"  autocomplete='off'  required />
					</div>
					
					<div class="input-group mbottom10 height45">
						<span class="input-group-addon">邮箱:</span>
						<input name="email" type="email" class="form-control" placeholder="Email地址" required/>
					</div>
					<div class="input-group mbottom10 height45">
						<span class="input-group-addon">密码:</span>
						<input name="password" type="password" class="form-control" placeholder="Password" required/>
					</div>
					<button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
				</form>
			</div>
			<div class="tab-pane" id="signin">      
				<form class="form-signin" role="form" action="/login/" method="post">{% csrf_token %}
					<div class="input-group mbottom10 height45">
						<span class="input-group-addon">邮箱:</span>
						<input name="email" type="email" class="form-control" placeholder="Email地址" required/>
					</div>
					<div class="input-group height45">
						<span class="input-group-addon">密码:</span>
						<input name="password" type="password" class="form-control" placeholder="Password" required/>
					</div>
					<label class="checkbox">
						<input type="checkbox" value="remember-me"> Remember me
					</label>
					<button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
				</form>
			</div>
            <input type="button" onclick="test()" value="dddddd"/>
		</div>
	</div>
    </div>
	
    <script src="/static/js/jquery-1.9.0.js" ></script>
    <script src="/static/js/bootstrap.min.js" ></script>
    <script src="/static/js/tab.js"></script>
	<script src="/static/js/csrf.js"></script>
    <script>
function test() {
	alert();
	$.ajax({
		url : "/test/",
		data : {
			name : "sss",
			username : "sss",
			password : "ss22",
			email : "sss@qwe"
		},
		type : "post",
		success : function () {
			alert("ss");

		},
		error : function (qq, ww, ee, rr) {}

	})

}
    
    </script>
  </body>
</html>
