<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    
    <title>F1论坛</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <!-- Custom styles for this template -->
    <link href="/static/css/navbar.css" rel="stylesheet">
    <link href="/static/css/jquery.autocomplete.css" rel="stylesheet">
    <link href="/static/css/tcss.css" rel="stylesheet">
    <link href="/static/css/external/prettify.css" rel="stylesheet">
    <link href="/static/css/font-awesome.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/question.css">
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	 <style>

  </style>
  </head>
<body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-fixed-top nav-theme" role="navigation">
        <div class="nav-container">
            <div class="navbar-header">
                <a class="navbar-brand nav-active" href="#">F1论坛</a>
            </div>
            <div class="navbar-collapse collapse">
                <form class="navbar-form" role="form">
                    <input type="text" placeholder="搜索话题、问题或人" class="form-control nav-search" id="nav-search">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#quest">提问</button>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#topic">添加话题</button>
                    {% if user.id %}
                    <a class="btn btn-primary nav-user pull-right marginRight50" href="#" id="loginuser" role="button" data-toggle="dropdown" >
                      <span>{{user.name}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right top40 marginRight50" role="menu">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="/account/userinfo/">我的主页</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">设置</a></li>
                      <li role="presentation" class="divider"></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">退出</a></li>
                    </ul>
                    {% endif %}

                </form>
            </div>

        </div>
    </div>
    <!--/.nav-collapse -->

    <div class="container" role="main" data-token="{{question.id}}">
        <div class="row">
            <div class="col-sm-9 blog-main">
                <div class="question-list" id="question-list">
                    <div class="question-category">
                        <a href="/topic/100" class="question-tag">{{question.category}}</a>
                    </div>
                    <div class="question-title">
                        <h2 class="question-title-content">
                            {{question.title}}
                        </h2>
                    </div>
                    <div class="question-content-wrap">
                        <div class="question-content">
                            {{question.content}}
                        </div>
                    </div>
                    <div class="question-panel">
                    </div>
                    <div class="answers-title">
                        <h3 class="answer-num">
                            共{{question.answercount}}个回答
                        </h3>
                    </div>
                    <div class="answer-list">
                      {% include 'answerlist.html' %}
                    </div>
                </div>
                <div class="answer-edit-box">
                    <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
                        <div class="btn-group">
                            <a class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" title="Font">
                                <i class="icon-font">
                          </i>
                                <b class="caret">
                          </b>
                            </a>
                            <ul class="dropdown-menu">
                            </ul>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" title="Font Size">
                                <i class="icon-text-height">
                          </i>
                                &nbsp;
                                <b class="caret">
                          </b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a data-edit="fontSize 5">
                                        <font size="5">
                                            Huge
                                        </font>
                                    </a>
                                </li>
                                <li>
                                    <a data-edit="fontSize 3">
                                        <font size="3">
                                            Normal
                                        </font>
                                    </a>
                                </li>
                                <li>
                                    <a data-edit="fontSize 1">
                                        <font size="1">
                                            Small
                                        </font>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm" data-edit="bold" title="Bold (Ctrl/Cmd+B)">
                                <i class="icon-bold">
                          </i>
                            </a>
                            <a class="btn btn-default btn-sm" data-edit="italic" title="Italic (Ctrl/Cmd+I)">
                                <i class="icon-italic">
                          </i>
                            </a>
                            <a class="btn btn-default btn-sm" data-edit="strikethrough" title="Strikethrough">
                                <i class="icon-strikethrough">
                          </i>
                            </a>
                            <a class="btn btn-default btn-sm" data-edit="underline" title="Underline (Ctrl/Cmd+U)">
                                <i class="icon-underline">
                          </i>
                            </a>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm" data-edit="insertunorderedlist" title="Bullet list">
                                <i class="icon-list-ul">
                          </i>
                            </a>
                            <a class="btn btn-default btn-sm" data-edit="insertorderedlist" title="Number list">
                                <i class="icon-list-ol">
                          </i>
                            </a>
                            <a class="btn btn-default btn-sm" data-edit="outdent" title="Reduce indent (Shift+Tab)">
                                <i class="icon-indent-left">
                          </i>
                            </a>
                            <a class="btn btn-default btn-sm" data-edit="indent" title="Indent (Tab)">
                                <i class="icon-indent-right">
                          </i>
                            </a>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" title="Hyperlink">
                                <i class="icon-link">
                          </i>
                            </a>
                            <div class="dropdown-menu input-append" style="width:230px">
                                <input class="span3" placeholder="URL" type="text" data-edit="createLink" />
                                <button class="btn" type="button">
                                    Add
                                </button>
                            </div>
                            <a class="btn btn-default btn-sm" data-edit="unlink" title="Remove Hyperlink">
                                <i class="icon-cut">
                          </i>
                            </a>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm" title="Insert picture (or just drag & drop)" id="pictureBtn">
                                <i class="icon-picture">
                          </i>
                            </a>
                            <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" style="opacity: 0; position: absolute; top: 0px; left: 0px; width: 41px; height: 34px;" />
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm" data-edit="undo" title="Undo (Ctrl/Cmd+Z)">
                                <i class="icon-undo">
                          </i>
                            </a>
                            <a class="btn btn-default btn-sm" data-edit="redo" title="Redo (Ctrl/Cmd+Y)">
                                <i class="icon-repeat">
                          </i>
                            </a>
                        </div>
                    </div>
                    <div class="answer-edit-wrap">
                        <div id="editor" class="answer-edit-area">
                            Go ahead&hellip;
                        </div>
                    </div>
                    <div class="comment-action-area comment-append-action">
                        <a href="#" class="btn btn-primary btn-sm" role="button" id="subAnswer">
                      发布答案
                  </a>
                        <a href="#" class="btn btn-primary btn-sm" role="button" id="getAnswer">
                      答案
                  </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 blog-sidebar">
                {% ifnotequal question.user_id user.id %}<div>
                    <button class="btn follow-question {% if not question.followed %}btn-success">关注{% else %}btn-default followed">取消关注{% endif %}</button>
                </div>
                {% endifnotequal %}
                <div class="sidebar-module sidebar-module-inset">
                    <h4>About</h4>
                    <p>Etiam porta
                        <em>sem malesuada magna</em>mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                </div>
                <div class="sidebar-module">
                    <h4>Archives</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">January 2014</a>
                        </li>
                        <li><a href="#">December 2013</a>
                        </li>
                        <li><a href="#">November 2013</a>
                        </li>
                        <li><a href="#">October 2013</a>
                        </li>
                        <li><a href="#">September 2013</a>
                        </li>
                        <li><a href="#">August 2013</a>
                        </li>
                        <li><a href="#">July 2013</a>
                        </li>
                        <li><a href="#">June 2013</a>
                        </li>
                        <li><a href="#">May 2013</a>
                        </li>
                        <li><a href="#">April 2013</a>
                        </li>
                        <li><a href="#">March 2013</a>
                        </li>
                        <li><a href="#">February 2013</a>
                        </li>
                        <li>
                            <input type="button" id="test">
                        </li>
                    </ol>
                </div>
                <div class="sidebar-module">
                    <h4>Elsewhere</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">GitHub</a>
                        </li>
                        <li><a href="#">Twitter</a>
                        </li>
                        <li><a href="#">Facebook</a>
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.blog-sidebar -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <div class="blog-footer">
        <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        <p>
            <a href="#">Back to top</a>
        </p>
    </div>
    <div class="modal fade" id="quest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close btn-large" data-dismiss="modal" aria-hidden="true" style="margin-top:-10px;">&times;</button>
                    <h4 class="modal-title" id="myModalLabel" style="margin-top:-10px">提问</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="question-title" placeholder="写下你的问题">
                        </div>
                        <div class="form-group">
                            <label>问题说明（可选）：</label>
                            <textarea class="form-control" id="question-content" rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <div>
                                <span style="float:right">话题越精准，越容易让领域专业人士看到你的问题</span>选择话题
                            </div>
                            <input type="text" class="form-control" id="question-category" placeholder="搜索话题">
                        </div>
                        <div class="form-actions">
                            <div class="question-action">
                                <a href="#" class="btn" data-dismiss="modal">关闭</a>
                                <a href="#" class="btn btn-primary" id="questionBtn">发布</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="topic" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">提问</h4>
                </div>
                <form role="form">
                    <div class="form-group">
                        <label for="topic_title">标题</label>
                        <input type="text" name="topic_title" id="topic_title" class="form-control" placeholder="标题">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="topicBtn">添加</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
<a href="{% url 'avatar_change' %}">Change your avatar</a>
    <!-- /.modal -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery-1.9.0.js"></script>
    <script src="/static/js/jquery.autocomplete.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/external/jquery.hotkeys.js"></script>
    <script src="/static/js/external/google-code-prettify/prettify.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-wysiwyg.js"></script>
    <!--<script src="/static/js/main.js" ></script>-->
    <script src="/static/js/tab.js"></script>
    <script src="/static/js/csrf.js"></script>
    <script src="/static/js/modal.js"></script>
    <script src="/static/js/question.js"></script>
</body>

</html>
