body {
  padding-top: 70px;
}

.nav-theme{
		  text-shadow: 0 -1px 0 rgba(0,0,0,.15);
          background-color: #0666c5;
          border-color: #463265;
          box-shadow: 0 1px 0 rgba(255,255,255,.1);
}
.nav-active{
color:#fff;
font-size:150%;
}
.nav-active:hover{
color:#fff;
text-decoration: none;
}
.nav-container{
margin-left:auto;
margin-right:auto;
padding-left:150px;

}
.container{
margin-top:70px;
}
#navsearch{
width:380px;
vertical-align:sub!important;

}
.top40{
top:40px;
}
.marginRight50{
margin-right:50px;
}
.nav-user{
color:#fff;
width:70px;
font-size: 14px;
box-shadow: none;
text-decoration: none;
 background-color: #0666c5;
border-color: #0666c5;
}
.nav-user:hover{
text-decoration: none;
 background-color: #0666c5;
border-color:#0D5AA5;
}
.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.login,.register{
 padding: 0 10px;
  width: auto;
  height: 46px;
  line-height: 46px;
  text-align: center;
  display: block;
  color: #eee;
  text-shadow: 0 1px 1px rgba(0,0,0,.12);
  white-space: nowrap;
  font-size: 14px;
}
.login:hover{

 color:#fff;
  text-decoration: none;
}

.register:hover{

   color:#fff;
  text-decoration: none;
}

/*自动完成*/
.tt-dropdown-menu,.gist {
  text-align: left;
}

.typeahead,.tt-query,.tt-hint {
  width: 380px;
  height: 30px;
  padding: 8px 12px;
  font-size: 13px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  /*border: 2px solid #0097cf;*/
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
  width:380px !important;
  height: 34px;
  border-radius: 4px;
}

.tt-dropdown-menu {
  min-width: 570px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

.navbar-form .empty-message {
  padding: 5px 10px;
 text-align: center;
}

.navbar-form .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#rtl-support .tt-dropdown-menu {
  text-align: right;
}
.message-btn{
background-color:transparent;
border:0px;
}
.message-btn:hover{
background-color:transparent;
border:0px;
}
.marginleft30{
margin-left:30px;

}

