body{

	padding:0px;
	line-height: 1.7;
}
a {
	color: #259;
	text-decoration: none;
	font-weight: 700;
}


.favour-count{
	color: #999;
font-weight: 400;
	font-size: 13px;
}
.answer-user{
	color:#222;
	font-size: 13px;
}
.check{

	color: #259;
	text-decoration: none;
	font-weight: 100;
	font-size: 13px;
}
.answer_summary{
	font-size: 13px;
	color: #222;
}
.search_panel a{
	color: #999;
font-weight: 400;
cursor:pointer;
font-size: 12px;
}
.result_item{
	border-bottom: 1px solid #eee;
	padding:15px 0px; 
}
.question-part{
	padding: 5px 0;
	/*font-size: 14px;*/

}
.user_avatar{
	height: 50px;
	width: 50px;
	border-radius: 5px;
}
.user_link{
	float: left;
}
.user_info{
 margin-left: 64px;
}
.result-list em{
	color:#C20A0A;
	font-weight: 700;
	font-style: normal;
}
.more-data{
	background-color:#f1f1f2;
	cursor:pointer;
	margin:20px 0px;
	padding:5px 1px;
	/*box-shadow:0 1px 0 #fff inset,0 1px 0 rgba(0,0,0,.1);*/
	text-shadow: 0 1px 0 #fff;
	color:#666;
	border-radius: 3px;

}
.read-message a{
font-weight: 600;

}