{% for question in data %}
<div class="result_item">
	<div class="question-part">
		<a href="{{question.get_absolute_url}}">{{question.title|safe}}</a>
	</div>
	{% if question.answer %}
	<div class="answer-part">
		<span class="favour-count">{{question.answer.favourcount}}票</span>&nbsp;&nbsp;
		<a href="{{question.answer.user.get_absolute_url}}"><span class="answer-user">{{question.answer.user.get_full_name}}</span></a>：
		<span class="answer_summary">{{question.answer.content}}</span>
		<a target="_blank" href="{{question.get_absolute_url}}" class="check">查看</a>
	</div>
	{% endif %}
	<div class="search_panel">
		<a href="{{question.get_absolute_url}}">{{question.answercount}}个回答</a><a>{{question.followcount}}关注</a>
	</div>
</div>
{% endfor %}